mixin price-item(id, name, data, text)
	.price-list__item.tabs-item(id="price-list-item-" + id)
		.price-list__head.row.i-mid
			.price-list__name.h3=name
			.price-list__icon
		.price-list__body
			.price-list__wrap.row(class=priceText==true?'--cols':undefined)
				if data
					.price-list__data
						each item in data
							if item[0]
								h3= item[0]
							if item[1]
								ul
									each li in item[1]
										li
											u= li[0]
											strong= li[1]
				if priceText
					.price-list__text.text
						h3 В цену входят:
						ul
							li Сбор анамнеза
							li Осмотр ротовой полости, рентген снимок
							li Фото протокол
							li Составление плана лечения
							li Аппликационная анастезия, основная анестезия
							li Установка коффердама
							li Обработка кариеса механическая и медикаментозная
							li Моделировка поверхностей пломбировочным материалом
							li Проверка контактов
							li Шлифовка, полировка
			+now('price-list__now now', nowImg)
