mixin problems(title, subtitle, list, quote, img, teamIndex, text)
	.problems.bg-gray.img(style="background-image: url('upload/bgs/bg-problems-1.jpg')")
		.case
			.problems__title.h2.tac!= title
			.problems__subtitle.h3.tac!= subtitle
			.problems__wrap.row
				.problems__list
					each listItem in list
						+problem(_problems[listItem][0], _problems[listItem][1], _problems[listItem][2])
					
						
				.problems__content
					.problems__quote.h3.tac!= quote
					- var docItemClass = list.length > 6 ? '--lg' : undefined
					.problems__doctor.doctor(class=docItemClass)
						.doctor__img
							+img(img)
						.doctor__content
							.doctor__name= _team[teamIndex][1]
							.doctor__text!= text
							.doctor__desc
								+icon('time-gray')
								span= "Стаж: " + _team[teamIndex][4]
							a.doctor__btn.btn.--bg-blue.--shadow-blue.--lg(data-fancybox data-src="#popup-consult" href="javascript:;") Записаться на срочный прием
			+swipe('problems__swipe', 'Проведите в сторону, чтобы <br>посмотреть все проблемы')
