mixin ti(classes, img, name, text, position, desc, imgs)
	.ti(class=classes)
		.ti__img
			+img(img)
		.ti__content
			.ti__name= name
			.ti__text=text
			.ti__data.row
				if position
					.ti__position= position
				.ti__desc
					.ti__desc-icon
						+icon('time-gray')
					.ti__desc-title Стаж: #[strong= desc]
			if imgs
				.ti__imgs
					each imgsItem in imgs
						.ti__imgs-item.img(data-fancybox="" data-src=imgsItem style="background-image: url('"+ imgsItem +"')")
