mixin hello(img, title, subtitle, text, desc, breadcrumbs, imgs, imgsMode, list, form)
	.hello.img(style="background-image: url('"+ img +"')")
		.case
			.hello__wrap
				if breadcrumbs
					+breadcrumbs('hello__breadcrumbs breadcrumbs', breadcrumbs)
				if title
					.hello__title.h2!= title
				if subtitle
					.hello__subtitle.h3!= subtitle
				if list
					.hello__list
						each listItem in list
							.hello__item
								.hello__item-icon
									+img(listItem[0])
								.hello__item-title.h4= listItem[1]
				if form != false
					form.hello__form.form.row.i-bottom.--mlr-sm
						.form__item.form__input.input.--bg-white.--lg.--icon.--w-md.--mlr-sm.--phone.--required
							label.input__title Ваш номер телефона:
							.input__wrap
								input.input__area(type="tel" name="phone" placeholder="+7 (495) 123-45-67")
								label.input__icon
									+icon('phone-gray')
						button.form__item.form__btn.btn.--bg-blue.--shadow-blue.--lg.--w-md.--mlr-sm Записаться на консультацию
						//- .form__item.form__checkbox.checkbox.check.--sm.--w-md.--mlr-sm
						//- 	input.checkbox__input(type="checkbox" name="policy" checked="checked")
						//- 	label.checkbox__label Нажимая на кнопку, вы даете согласие #[br]на обработку своих персональных данных #[br]и соглашаетесь #[a(href="upload/policy.pdf") с политикой конфиденциальности].
				if text
					.hello__text!= text
				if desc
					.hello__desc.desc(class=helloDescClass)
						.desc__list.row
							each descItem in desc
								if descItem[2]
									- var mode = '--' + descItem[2]
								.desc__item(class=mode)
									.desc__title!= descItem[0]
									.desc__icon
										+img(descItem[1])


				if imgs
					.hello__img(class=imgsMode)
						each imgsItem in imgs
							+img(imgsItem)
